@import '/src/styles/colors';
@import '/src/styles/mixins';

.header {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.4vw 2.2vw;
	z-index: 2;
	background-color: $bodyColor;

	@include mobile {
		padding: 4vw 3.85vw;
	}

	& .leftSec {
		display: flex;
		align-items: center;
		width: 80%;

		& .menuBarIcon {
			fill: $textColor;
			height: 1.6vw;
			width: 1.6vw;
			margin-right: 1.2vw;
			display: none;

			@include mobile {
				height: 4.4vw;
				width: 4.4vw;
				margin-right: 3.2vw;
				display: block;
			}
		}
	}

	& .rightSec {
		display: flex;
		align-items: center;

		.icon {
			height: 1.6vw;

			@include mobile {
				height: 4vw;
			}

			&:first-child {
				margin-right: 2vw;

				@include mobile {
					margin-right: 6vw;
				}
			}
		}
	}
}
