@import '/src/styles/colors';

.header {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.4vw 2.2vw;
	z-index: 2;
	background-color: $bodyColor;

	& .rightSec {
		display: flex;
		align-items: center;

		.icon {
			height: 1.6vw;

			&:first-child {
				margin-right: 2vw;
			}
		}
	}
}
