@import '/src/styles/colors';
@import '/src/styles/mixins';

.inputWrapper {
	background-color: transparent;
	border-radius: 0.625vw;
	overflow: hidden;
	width: 3.2vw;
	max-width: 40vw;
	height: 4.2vw;
	transition: all 0.6s ease-in-out;

	@include mobile {
		border-radius: 1.4vw;
		width: 5.6vw;
		height: 10vw;
		max-width: 70vw;
	}

	&.open {
		width: 85%;
		background-color: #1a2536;

		& .closeIcon {
			visibility: visible;
		}

		& input {
			visibility: visible;
		}
	}

	.icon {
		height: 1.6vw;
		width: 1.6vw;
		cursor: pointer;
		left: 1.1vw;

		@include mobile {
			height: 4vw;
			width: 4vw;
			left: 2.2vw;
		}
	}

	.closeIcon {
		height: 1.1vw;
		width: 1.1vw;
		cursor: pointer;
		right: 1.2vw;
		visibility: hidden;
		transition: all 0.2s ease-in-out 0.4s;

		@include mobile {
			height: 3.2vw;
			width: 3.2vw;
			right: 2.2vw;
		}
	}

	.icon,
	.closeIcon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
	}

	& input {
		background-color: transparent;
		border: 0;
		outline: none;
		padding: 0 3.4vw;
		color: $textColor;
		font-size: 1.1vw;
		height: 100%;
		width: 100%;
		visibility: hidden;
		transition: all 0.2s ease-in-out 0.4s;

		@include mobile {
			padding: 0 8vw;
			font-size: 3.2vw;
		}

		&::placeholder {
			color: #7b828e;
		}
	}
}
