@import '/src/styles/colors';
@import '/src/styles/mixins';

.sidebar {
	background-color: $sideBarColor;
	height: 100vh;
	width: 20%;
	position: sticky;
	top: 0;
	padding: 1vw 0;

	@include mobile {
		width: 80%;
		padding: 3.2vw 0;
	}

	.userDetails {
		text-align: center;
		margin: 2vw 0 1.2vw;

		@include mobile {
			margin: 4vw 0 3.5vw;
		}

		& > p {
			margin-top: 1vw;
			font-size: 1.4vw;
			@include MontSerrat;

			@include mobile {
				font-size: 4vw;
				margin-top: 3.2vw;
			}
		}
	}

	.menuList {
		.menuItem {
			padding: 0.4vw 14%;
			margin: 0.7vw 0;
			cursor: pointer;
			display: flex;
			align-items: center;

			@include mobile {
				padding: 2vw 10%;
			}

			&.disabled {
				cursor: not-allowed;
			}

			&.active {
				pointer-events: none;
				color: $lightBlue;

				&::after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					height: 100%;
					width: 0.25vw;
					background-color: $lightBlue;

					@include mobile {
						width: 1vw;
					}
				}

				& > svg {
					fill: $lightBlue;
				}
			}

			& svg {
				height: 1.03vw;
				width: 1.03vw;

				@include mobile {
					width: 3vw;
					height: 3vw;
				}
			}

			& > span {
				font-size: 1.05vw;
				margin-left: 0.7vw;

				@include mobile {
					font-size: 3vw;
					margin-left: 2vw;
				}
			}
		}
	}
}
