@import '/src/styles/_colors';
@import '/src/styles/mixins';

.card {
	padding: 0.75vw;
	border-radius: 0.8vw;
	background-color: $cardBackground;
	cursor: pointer;

	@include mobile {
		padding: 2vw;
		border-radius: 1.6vw;
	}

	&.active::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: calc(100% - 0.23vw);
		height: calc(100% - 0.23vw);
		border: 0.23vw solid $lightBlue;
		border-radius: 0.8vw;
		background-color: transparent;

		@include mobile {
			border-radius: 1.6vw;
			width: calc(100% - 0.5vw);
			height: calc(100% - 0.5vw);
			border: 0.5vw solid $lightBlue;
		}
	}

	& > img {
		width: 100%;
		object-fit: cover;
		border-radius: 0.5vw;
		height: 15.2vw;
		background-color: $sideBarColor;

		@include mobile {
			border-radius: 1vw;
			height: 45.6vw;
		}
	}

	& > p {
		font-size: 1.05vw;
		margin: 0.5vw 0;
		@include MontSerrat;
		font-weight: 500;
		text-transform: capitalize;

		@include mobile {
			font-size: 4vw;
			font-weight: 600;
			margin: 1.5vw 0;
		}
	}

	& .icons {
		display: flex;
		align-items: center;
		margin-top: 1vw;

		@include mobile {
			margin-top: 2.2vw;
		}

		svg {
			height: 1.4vw;
			width: 1.4vw;

			@include mobile {
				height: 4vw;
				width: 4vw;
			}

			&:first-child {
				margin-right: 1vw;
				@include mobile {
					margin-right: 2.2vw;
				}
			}
		}
	}
}
